html {
  height: 100%;
  width: 100%;
  background-color: black;
}

lexendbig {
  font-size: 75px;
  color: #ffffff;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  text-shadow: 4px 4px #363636;
}

lexend {
  font-size: 45px;
  color: #ffffff;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  text-shadow: 4px 4px #363636;
}

comfortaa {
  font-size: 20px;
  color: #d1d1d1;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-shadow: 2px 2px #363636;
}

comfortaabright {
  font-size: 20px;
  color: #ffffff;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-shadow: 3px 3px #363636;
}

comfortaaurl {
  font-size: 20px;
  color: #ffffff;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

redurl {
  font-size: 20px;
  color: #ff0000;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-shadow: 2px 2px #363636;
}

blueurl {
  font-size: 20px;
  color: #0008ff;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-shadow: 2px 2px #363636;
}

greenurl {
  font-size: 20px;
  color: #04ff00;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-shadow: 2px 2px #363636;
}

button {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    outline:none;
    width: auto;
    height: auto;
    color: #000000;
    opacity: .5;
    transition: .3s;
    display: inline-block;

    border: none;
    background-color: #ffffff;
    font-size: 15px;
    padding: 5px 1px 5px 4px;
} 

button:hover {
    opacity: 1;
}
